:host{
    .flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .p-field{
            display: flex;
            justify-content: flex-end;
        }

        >button{
            display:flex;
            align-items: center;
        }
    }
}